<!DOCTYPE html>
<html ng-app="store">
	<head>
		<link rel="stylesheet" type="text/css" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/styles.css">   
	</head>
	<body ng-controller="StoreController as store">
		<h1>Gems Store <small>By Daniel Correa</small></h1><hr>			
		<div class="list-group">
			<strong>Options: </strong>
			<button class="btn btn-md btn-warning" ng-click="store.sort()"> 
			<span class="glyphicon {{store.icon}}"></span> Order 
			</button>
			<hr>
			<div class="list-group-item" ng-repeat="product in store.products | orderBy: '-price':store.type" ng-hide="product.soldOut">
				<product-information>
				</product-information>
				
				<product-panels>
				</product-panels>
			</div>
		</div>
		<!--Scripts JS-->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
		<script type="text/javascript" src="product.js"></script>
	</body>
</html>